<fieldset>
	<legend> My Cart </legend>
	<% cart.cart_items.each do |item| %>
		<%= render item %>
	<br/>
	<% end %>
	<br/>
	Total price: <%=  cart.total_price %> USD
	<br/>
	<br/>

	<div>
		<%= button_to "Checkout", new_order_path, method: :get %>
	</div>
</fieldset>
