<% if cart_item == @newly_item %>
	<tr id="newly_item">
<% else %>
	<tr>
<% end %>
		<td><%= cart_item.product.title %> </td>		
		<td class="cart-item-price"><%= cart_item.product.price %> USD  </td>	
		<td>&times;<%=  cart_item.quantity %></td>
	</tr>