<!DOCTYPE html>
<html>
<head>
  <title>voidstart's books</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="cols">
	<div id="sidepane">
		<a href="/">Home</a>
	</div>
	<div id="productpane">
		<%= yield %>
	</div>
</div>

</body>
</html>
